<!DOCTYPE html>
<html>
<head>
  <title>Manageiq bishop new</title>
  <%= stylesheet_link_tag    "manageiq/bishop_new/application", media: "all" %>
  <%= javascript_include_tag "manageiq/bishop_new/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
